@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Mulish:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Fredoka One", cursive;
  font-family: "Mulish", sans-serif;
  background-color: var(--greyBg);
}

:root {
  /* --color-primary: #fc5b62; */
  --color-primary: #41c3e5;
  --color-secondary: #fcc845;
  --heading: #0f172a;
  --text: #4e4c55;
  --greyBg: #f7f7f7;
  --blue: #4e3bf0;
  --purple: #803bf0;
}
