@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Mulish:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Fredoka One", cursive;
  font-family: "Mulish", sans-serif;
  background-color: var(--light-grey);
}

:root {
  --font-Fredoka: "Fredoka One", cursive;
  --font-Mulish: "Mulish", sans-serif;
  --color-primary: #41c3e5;
  --color-secondary: #ff7e4c;
  --heading: #2a445f;
  --text: #4e4c55;
  --blue: #4e3bf0;
  --purple: #803bf0;
  --yellow: #fcc845;
  --light-grey: #fafafa;
  --light-blue: #eaf6f6;
  --light-orange: #feead1;
}
