@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cinzel Decorative", cursive;
  font-family: "Poppins", sans-serif;
  background-color: var(--greyBg);
}

:root {
  --color-primary: #fc5b62;
  --heading: #0f172a;
  --text: #4e4c55;
  --greyBg: #f7f7f7;
}
