/* Customize the Navigation-bar */
.nav-brand {
  font-family: "Cinzel Decorative", cursive;
  font-size: 22px;
  font-weight: 700;
  color: var(--color-primary);
}
.nav-link {
  color: black !important;
  background-color: transparent !important;
  text-transform: uppercase;
}
.nav-link:focus {
  color: var(--color-primary) !important;
  font-weight: 500;
}
.nav-link:hover {
  color: var(--color-primary) !important;
}

/* Customize swiper-slider button color */
.swiper-pagination-bullet {
  background-color: var(--color-primary) !important;
}
