/* Customize swiper-slider button color */
.swiper-pagination-bullet {
  background-color: var(--color-primary) !important;
}

/* Common Styles */
.section-footer-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: transparent;
  color: var(--color-primary);
  font-size: 14px;
  border: 1px solid var(--color-primary);
  border-radius: 50px;
  padding: 8px 20px;
  transition: 0.3s;
}
.section-footer-btn:hover {
  box-shadow: 0px 10px 20px 0px rgb(65 195 229 / 40%);
  background-color: var(--color-primary);
  color: white;
}
.custom-primary-btn {
  background: linear-gradient(to right, #41c3e5 0%, #6f86d6 100%);
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}
.custom-primary-btn:hover {
  box-shadow: 0px 10px 20px 0px rgb(65 195 229 / 40%);
}

/* Customize the Navigation-bar */
.nav-brand {
  font-family: var(--font-Fredoka);
  font-size: 24px;
  color: var(--color-primary);
}
.nav-link {
  /* font-family: var(--font-Fredoka); */
  font-size: 16px;
  font-weight: bold;
  color: var(--heading) !important;
  background-color: transparent !important;
}
.nav-link:focus {
  color: var(--color-primary) !important;
  font-weight: bold;
}
.nav-link:hover {
  color: var(--color-primary) !important;
}

/* Section Title Style */
.section-title {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  font-size: 28px;
  font-weight: 700;
  color: var(--heading);
  position: relative;
}
.section-title span {
  color: var(--color-primary);
}
.section-title-bar {
  background-color: var(--color-primary);
  height: 2px;
  width: 50px;
}

@media (max-width: 576px) {
  /* Nav Brand */
  .nav-brand {
    font-size: 14px;
  }
  /* Section Title */
  .section-title {
    font-size: 20px;
  }
}
