/* Customize the Navigation-bar */
.nav-brand {
  font-family: "Cinzel Decorative", cursive;
  font-size: 22px;
  font-weight: 700;
  color: var(--color-primary);
}
.nav-link {
  color: black !important;
  background-color: transparent !important;
  text-transform: uppercase;
}
.nav-link:focus {
  color: var(--color-primary) !important;
  font-weight: 500;
}
.nav-link:hover {
  color: var(--color-primary) !important;
}

/* Section Title Style */
.section-title {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  font-size: 32px;
  font-weight: 700;
  color: black;
  position: relative;
}
.section-title span {
  color: var(--color-primary);
}
.section-title-bar {
  background-color: var(--color-primary);
  height: 2px;
  width: 50px;
}

/* Customize swiper-slider button color */
.swiper-pagination-bullet {
  background-color: var(--color-primary) !important;
}
